/* === FONT DECLARATIONS === */
@font-face {
    font-family: Simplicity;
    src: url('./fonts/Simplicity.otf');
}

@font-face {
    font-family: Alice;
    src: url('./fonts/Alice.ttf');
}

/* === VARIABLES === */
:root {
    --primary-color: #c40414;
    --background-color: black;
}

/* === BASE STYLES === */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Alice', sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
    overflow: hidden;
}

header {
    letter-spacing: 4px;
}

/* === MENU TOGGLE & CLOSE BUTTON STYLES === */
#menu-toggle, #menu-close {
    position: absolute;
    top: 10px;
    background: var(--background-color);
    color: var(--primary-color);
    border: none;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
}

#menu-toggle {
    left: 10px;
    z-index: 10;
}

#menu-close {
    right: 10px;
}

    #menu-close:focus {
        outline: none;
    }

/* === MAIN NAVIGATION STYLES === */
#main-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    z-index: 1000;
    font-size: 50px;
}

    #main-nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

        #main-nav ul li {
            margin: 20px 0;
        }

            #main-nav ul li a {
                text-decoration: none;
                color: var(--primary-color);
            }

/* === MAIN IMAGE STYLES === */
#flyer-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    object-fit: contain;
    object-position: center;
    background-color: #000;
    z-index: 1;
}

/* === EVENT PAGE SLIDESHOW STYLES === */
#performers-photos .carousel-inner {
    display: flex;
    justify-content: left;
    align-items: center;
    height: auto;
    padding: 20px 0;
}

#performers-photos .carousel-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #performers-photos .carousel-item img {
        width: 500px;
        height: 500px;
        object-fit: cover;
        display: block;
        margin: auto;
        border: 3px solid var(--primary-color);
    }

#performers-photos #performers-carousel {
    position: relative;
    max-width: 60%;
    margin: auto;
}

#performers-photos .carousel-control-prev {
    left: 10%;
}

#performers-photos .carousel-control-next {
    right: 10%;
}

#performers-photos .carousel-indicators {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

#performers-photos .carousel-label {
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

/* === FOOTER STYLES === */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: var(--background-color);
    z-index: 10;
}

    footer a img {
        width: 50px;
        height: 50px;
        margin: 0 20px;
    }

/* === RESPONSIVE STYLES === */
/* Mobile styles */
@media only screen and (max-width: 767px) {
    #main-nav {
        font-size: 30px;
    }

    #menu-toggle, #menu-close {
        font-size: 30px;
    }

    #performers-photos .carousel-item img {
        width: 70%;
        height: auto;
    }
}

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #slideshow {
        width: 85%;
        left: 7.5%;
        height: 100%;
    }

    #menu-toggle, #menu-close {
        font-size: 40px;
    }

    #performers-photos .carousel-item img {
        width: 400px;
        height: 400px;
    }
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
    #slideshow {
        width: 75%;
        left: 12.5%;
        height: 100%;
    }
}
