html
{
    caret-color: black;
}

body {
    font-family: 'Alice', sans-serif;
    background-color: black;
    color: #c40414;
    font-size: 28px;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Simplicity;
    src: url('./fonts/Simplicity.otf');
}

@font-face {
    font-family: Alice;
    src: url('./fonts/Alice.ttf');
}

header h1 {
    font-family: 'Simplicity', sans-serif;
    letter-spacing: 3px; /* Spread out the letters */
    text-align: center;
    font-size: 64px; /* Larger for the heading */
    margin-top: 20px;
}

#menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    background: black;
    color: #c40414;
    border: none;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
}

#main-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    font-size: 50px;
}

    #main-nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

        #main-nav ul li {
            margin: 20px 0;
        }

            #main-nav ul li a {
                text-decoration: none;
                color: #c40414;
            }

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

    footer a img {
        width: 30px;
        height: 30px;
        margin: 0 10px;
    }

/* For Mobile Optimisation */
@media only screen and (max-width: 768px) {
    body {
        font-size: 22px; /* #c40414uced size for mobile */
    }

    header h1 {
        font-size: 48px;
    }

    #menu-close {
        font-size: 28px;
    }

    #menu-toggle {
        font-size: 28px;
    }

    #slideshow {
        max-width: 50%;
    }
}

#menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    color: #c40414;
    border: none;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
}

    #menu-close:focus {
        outline: none;
    }

#main-menu-page {
    text-align: center; /* This will center the text inside the section */
    margin: 20px 0;
    color: white;
    font-size: 38px;
   letter-spacing: 3px; 
}

#slideshow {
    display: block;
    margin: 20px auto; /* This will center the image (slideshow) */
    max-width: 25%;
}

footer a img {
    width: 40px; /* Increase from 30px to 40px */
    height: 40px; /* Increase from 30px to 40px */
    margin: 0 15px; /* Increase the margin to space out the larger icons */
}
